<div class="jumbotron bg-white text-center">
  <h1 class="display-4">Corona Covid-19 Tracker Country Wise</h1>
  <hr class="my-4" />
  <div class="mx-auto">
    <div class="form-group col-lg-5 mx-auto">
      <label for="country">Select Country</label>
      <select
        class="form-control"
        id="country"
        #input
        (change)="updateCases(input.value)"
      >
        <option [value]="country" *ngFor="let country of countries">{{
          country
        }}</option>
      </select>
    </div>
  </div>
  <app-case-card
    [totalConfirmed]="totalConfirmed"
    [totalRecovered]="totalRecovered"
    [totalDeaths]="totalDeaths"
    [totalActive]="totalActive"
  ></app-case-card>
</div>
